main {
    background-color: #750259;
    color: #750259;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 20%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #750259;
    color: #750259;
    padding-top: 60px; /* Place content 60px from the top */
}